---
import NavLink from "../components/nav-link.astro";
import Button from "../components/button.astro";
import Logo from "../components/logo.astro";
import Disclousure from "../components/disclousure.astro";

import WhatsappIcon from "../components/icons/whatsapp.astro";
import LocationIcon from "../components/icons/location.astro";
import PhoneIcon from "../components/icons/phone.astro";

import googleMapsImg from "../assets/maps.png";
import motor1 from "../assets/motor-1.jpg";
import motor2 from "../assets/motor-2.jpg";
import motor3 from "../assets/motor-3.jpg";
import motor4 from "../assets/motor-4.jpg";
import motor5 from "../assets/motor-5.jpg";
import motor6 from "../assets/motor-6.jpg";
import motor7 from "../assets/motor-7.jpg";
import motor8 from "../assets/motor-8.jpg";
import { Image } from "astro:assets";

const BUSINESS_INFO = {
	name: "Rectificadora el bloque",
	phone: {
		raw: "+573176478704",
		formatted: "+57 317 647 8704",
	},
	address: {
		formatted: "Cra 23 #10 - 45 / Bucaramanga Colombia",
	},
};
const LINKS = {
	whatsapp: `https://wa.me/${BUSINESS_INFO.phone.raw}`,
	googleMaps: "",
};
const NAV_LINKS = [
	{ path: "", label: "Inicio" },
	{ path: "#about-us", label: "Sobre Nosotros" },
	{ path: "#services", label: "Servicios" },
	{ path: "#faq", label: "Preguntas frecuentes" },
	{ path: "#contact-us", label: "Contáctanos" },
];

const SERVICES = [
	{
		img: motor1,
		name: "rectificacion-bloque",
		title: "Rectificación de bloque",
		description:
			"Reparación de los bloques del motor para asegurar que estén perfectamente lisos y aptos para un rendimiento óptimo",
	},
	{
		img: motor2,
		name: "",
		title: "Rectificación de cigüeñales",
		description:
			"Renovación de cigüeñales, un componente crucial del motor, para que funcionen como nuevos",
	},
	{
		img: motor3,
		name: "",
		title: "Torno",
		description:
			"Maquinado de precisión para dar forma o afinar piezas del motor para un mejor ajuste y funcionamiento.",
	},
	{
		img: motor4,
		name: "",
		title: "Prueba hidrostática",
		description:
			"Verificación de piezas del motor en busca de fugas o debilidades al someterlas a presión de agua, garantizando seguridad y confiabilidad.",
	},
	{
		img: motor5,
		name: "",
		title: "Sentada culatas",
		description:
			"Verificación, ajuste o mejora del ajuste de las culatas, una parte crítica del motor",
	},
	{
		img: motor6,
		name: "",
		title: "Armada y desarmada culatas",
		description:
			"Ensamblaje y desmontaje de culatas, incluyendo válvulas y otros componentes, como parte del mantenimiento o reparación del motor",
	},
	{
		img: motor7,
		name: "",
		title: "Enderezada culatas",
		description:
			"Rectificación de las culatas para corregir cualquier deformación o distorsión, garantizando un sellado y rendimiento adecuados.",
	},
	{
		img: motor8,
		name: "",
		title: "Cepillado culatas",
		description:
			"Alisado y refinamiento de la superficie de las culatas para mejorar su funcionalidad y sellado",
	},
];

const faq = [
	{
		title:
			"¿Qué servicios ofrecen para la rectificación de bloques y cigüeñales?",
		content:
			"Ofrecemos servicios completos de rectificación para bloques y cigüeñales, utilizando tecnología de vanguardia y técnicas precisas para restaurar la funcionalidad óptima de estos componentes vitales del motor.",
	},
	{
		title: "¿Cuál es el proceso de torno que utilizan?",
		content:
			"Utilizamos tornos de alta precisión para mecanizar y refinar piezas de motor con tolerancias extremadamente ajustadas. Este proceso garantiza la uniformidad y la calidad en cada componente que tratamos.",
	},
	{
		title: "¿Qué servicios ofrecen para las culatas de los motores?",
		content:
			"Ofrecemos una gama completa de servicios para culatas, desde el montaje inicial hasta el cepillado y la rectificación. Nuestros especialistas aseguran que cada culata esté en condiciones óptimas para un rendimiento confiable del motor.",
	},
	{
		title: "¿Cómo puedo saber si mi motor necesita rectificación o reparación",
		content:
			"Si experimentas pérdida de potencia, consumo de aceite excesivo, vibraciones anormales u otros problemas de rendimiento, es recomendable que nos consultes. Nuestro equipo puede realizar un diagnóstico completo para determinar si se requiere rectificación o reparación.",
	},
	{
		title: "¿Ofrecen garantía en sus servicios?",
		content:
			"Sí, respaldamos la calidad de nuestro trabajo con garantías sólidas. Estamos comprometidos a brindarle la tranquilidad de saber que su motor está en manos expertas y que recibirá un servicio de primera calidad.",
	},
];

const CONTACT_INFO = [
	{
		label: "WhatsApp",
		title: BUSINESS_INFO.phone.formatted,
		icon: WhatsappIcon,
		url: LINKS.whatsapp,
	},
	{
		label: "Dirección",
		title: BUSINESS_INFO.address.formatted,
		icon: LocationIcon,
		url: LINKS.googleMaps,
	},
	{
		label: "Teléfono",
		title: BUSINESS_INFO.phone.formatted,
		icon: PhoneIcon,
		url: `tel:${BUSINESS_INFO.phone.raw}`,
	},
];

const METADATA_INFO = {
	title: `${BUSINESS_INFO.name} — Inicio`,
	description:
		"Expertos en motores: soluciones precisas para bloques, cigüeñales y más. Confía en nuestro equipo para un mantenimiento confiable.",
	url: Astro.site,
	image: "/meta-cover.png",
};
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			media="(prefers-color-scheme: light)"
			href="/favicon.svg"
		/>
		<link
			href="/favicon-dark.svg"
			rel="icon"
			media="(prefers-color-scheme: dark)"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{METADATA_INFO.title}</title>
		<meta name="title" content={METADATA_INFO.title} />
		<meta name="description" content={METADATA_INFO.description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={METADATA_INFO.url} />
		<meta property="og:title" content={METADATA_INFO.title} />
		<meta property="og:description" content={METADATA_INFO.description} />
		<meta property="og:image" content={METADATA_INFO.image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={METADATA_INFO.url} />
		<meta property="twitter:title" content={METADATA_INFO.title} />
		<meta property="twitter:description" content={METADATA_INFO.description} />
		<meta property="twitter:image" content={METADATA_INFO.image} />
	</head>
	<body
		class="bg-stone-950 text-stone-100 p-3 lg:p-8 min-h-screen flex flex-col w-full items-center"
	>
		<header
			class="px-4 lg:px-10 flex flex-col gap-y-10 items-center w-full bg-header-motor rounded-xl min-h-[800px] bg-no-repeat bg-cover"
		>
			<nav class="flex items-center justify-between py-10 w-full relative">
				<a href="#" class="mr-10">
					<Logo />
				</a>
				<button class="xl:hidden" data-hamburger aria-expanded="false">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
					</svg>
				</button>
				<div
					class="absolute xl:static flex flex-col top-full inset-x-0 lg:flex-row xl:w-[74%] 2xl:w-[67%] lg:gap-x-3 xl:justify-between opacity-0 pointer-events-none xl:opacity-100 xl:pointer-events-auto bg-stone-100 py-8 xl:py-0 gap-y-10 items-center xl:bg-transparent"
					data-nav-links
				>
					<ul
						class="flex flex-col xl:flex-row items-center gap-x-2 rounded-lg xl:rounded-full text-stone-950 xl:text-stone-100 xl:bg-stone-100/10 p-2"
					>
						{
							NAV_LINKS.map(({ label, path }) => {
								const isActive = Astro.url.hash === path;

								return (
									<li>
										<NavLink href={path} isActive={isActive}>
											{label}
										</NavLink>
									</li>
								);
							})
						}
					</ul>
					<Button href={LINKS.whatsapp} className="hidden xl:flex"
						>Agenda tu cita</Button
					>
					<Button
						href={LINKS.whatsapp}
						className="xl:hidden w-fit"
						style="secondary">Agenda tu cita</Button
					>
				</div>
			</nav>
			<div class="text-center flex items-center flex-col max-w-[849px]">
				<h1 class="font-bold text-3xl lg:text-6xl mb-6">
					Rectificadora de culatas de motor de aluminio y acero
				</h1>
				<p class="mb-8 max-w-prose lg:text-lg">
					Especialistas en motores: Rectificación de bloques y cigüeñales,
					torno, pruebas hidrostáticas y una gama completa de servicios para
					culatas, desde el montaje hasta el cepillado.
				</p>
				<Button href={LINKS.whatsapp}>Agenda tu cita</Button>
			</div>
		</header>
		<main class="w-full flex flex-col items-center gap-y-10" id="about-us">
			<section
				class="flex flex-col items-start gap-x-16 gap-y-8 py-20 justify-between w-full max-w-6xl lg:flex-row"
			>
				<h2 class="font-semibold text-2xl leading-relaxed text-nowrap">
					Servicios de Calidad
				</h2>
				<p class="max-w-screen-[838px] text-xl lg:text-4xl leading-relaxed">
					En {BUSINESS_INFO.name}, la calidad es nuestro sello. Desde la
					rectificación de bloques hasta la montura de culatas, nuestro enfoque
					es preciso y con nuestra avanzada tecnología garantizan motores
					impecables y duraderos.
				</p>
			</section>
			<section
				class="px-6 py-8 lg:py-16 lg:px-14 rounded-3xl bg-stone-100 text-stone-950 w-full flex flex-col gap-y-16"
				id="services"
			>
				<header
					class="flex flex-col items-center justify-between gap-x-4 lg:flex-row"
				>
					<h2 class="font-semibold text-2xl lg:text-4xl mb-3 max-w-md">
						Agenda tu Cita con Especialistas en Rectificación y Más
					</h2>
					<p class="max-w-md">
						¡Potencia tu motor con nosotros! Reserva ahora y disfruta de
						servicios especializados: rectificación de bloques y cigüeñales,
						torno, pruebas hidrostáticas y más para culatas.
					</p>
				</header>
				<ul
					class="grid lg:grid-cols-[repeat(auto-fill,minmax(342px,_1fr))] gap-8 gap-x-10"
				>
					{
						SERVICES.map(({ img, title, description }) => (
							<li>
								<article class="h-full grid grid-flow-row">
									<Image
										src={img}
										alt={title}
										class="mb-6 min-h-[372px] lg:h-96 object-cover rounded-lg w-full"
										loading="lazy"
									/>
									<h3 class="mb-4 font-semibold text-xl">{title}</h3>
									<p class="mb-5">{description}</p>
									<Button
										href={`${LINKS.whatsapp}?text=${encodeURI(`Hola. Me gustaría agendar una cita de: ${title}`)}`}
										style="secondary"
										className="h-fit self-end"
									>
										Agendar este servicio
									</Button>
								</article>
							</li>
						))
					}
				</ul>
			</section>
			<section class="w-full flex flex-col gap-y-14" id="faq">
				<h2 class="font-semibold text-4xl">Preguntas frecuentes</h2>
				<ul>
					{
						faq.map(({ title, content }) => (
							<li>
								<Disclousure content={content} title={title} />
							</li>
						))
					}
				</ul>
			</section>
			<section
				class="grid grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 gap-x-10 w-full mt-10 items-center"
				id="contact-us"
			>
				<Image
					src={googleMapsImg}
					class="w-full"
					alt="A gooogle maps view with the pin on the business direction"
				/>
				<div class="w- flex flex-col gap-y-10">
					<div class="flex flex-col gap-y-3">
						<h2 class="font-semibold text-5xl">Contáctanos</h2>
						<p>Agenda tu cita y conoce por qué nuestro servicio es el mejor.</p>
					</div>
					<ul class="flex flex-col gap-y-4">
						{
							CONTACT_INFO.map(({ icon: Icon, label, title, url }) => (
								<li>
									<Button href={url} position="start" style="tertiary">
										<div class="flex-nowrap">
											<Icon />
										</div>
										<div class="">
											<h4 class="text-stone-300">{label}</h4>
											<p class="text-xl font-semibold">{title}</p>
										</div>
									</Button>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>
		<footer
			class="bg-stone-100 text-stone-950 py-10 px-8 lg:px-10 lg:py-12 rounded-xl w-full mt-20 flex items-center justify-between flex-col gap-y-16 lg:flex-row"
		>
			<div class="max-w-sm">
				<Logo style="secondary" />
				<p class="mt-4 text-stone-700">
					Expertos en mantener tu motor en perfecto estado de funcionamiento.
				</p>
			</div>
			<ul class="flex items-center gap-6 flex-col lg:flex-row">
				{
					NAV_LINKS.map(({ label, path }) => {
						const isActive = Astro.url.hash === path;
						return (
							<li>
								<a
									href={path}
									class:list={[isActive ? "font-semibold" : "font-normal"]}
								>
									{label}
								</a>
							</li>
						);
					})
				}
			</ul>
		</footer>
	</body>
</html>
<script>
	const $hamburgerButton = document.querySelector("[data-hamburger]");
	const $navLinks = document.querySelector("[data-nav-links]");

	$hamburgerButton?.addEventListener("click", () => {
		if ($hamburgerButton?.getAttribute("aria-expanded") === "true") {
			$navLinks?.classList.remove("opacity-100", "pointer-events-auto");
			$navLinks?.classList.add("opacity-0", "pointer-events-none");
			$hamburgerButton.setAttribute("aria-expanded", "false");
		} else {
			$navLinks?.classList.remove("opacity-0", "pointer-events-none");
			$navLinks?.classList.add("opacity-100", "pointer-events-auto");
			$hamburgerButton.setAttribute("aria-expanded", "true");
		}
	});
</script>
