---
import NavLink from "../components/nav-link.astro";
import Button from "../components/button.astro";
import Logo from "../components/logo.astro";

const BUSINESS_INFO = {
	name: "Rectificadora el bloque",
	phone: "XXXXXX", // modificar esto
};
const WHATSAPP_LINK = `https://api.whatsapp.com/api?phone=${BUSINESS_INFO.phone}&text=`;
const LINKS = [
	{ path: "", label: "Inicio" },
	{ path: "#about-us", label: "Sobre Nosotros" },
	{ path: "#services", label: "Servicios" },
	{ path: "#contact-us", label: "Contáctanos" },
	{ path: "#reviews", label: "Opiniones" },
];
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{BUSINESS_INFO.name} | Inicio</title>
	</head>
	<body
		class="bg-stone-950 text-stone-100 p-8 min-h-screen [&>*]:max-w-[2400px] flex flex-col w-full items-center"
	>
		<header
			class="px-10 flex flex-col gap-y-10 items-center w-full bg-header-motor rounded-xl min-h-[800px] bg-no-repeat bg-cover"
		>
			<nav class="flex items-center justify-between py-10 w-full">
				<a href="/">
					<Logo />
				</a>
				<ul class="flex items-center gap-x-2 rounded-full bg-stone-100/10 p-2">
					{
						LINKS.map(({ label, path }) => {
							const isActive = Astro.url.hash === path;

							return (
								<li>
									<NavLink href={path} isActive={isActive}>
										{label}
									</NavLink>
								</li>
							);
						})
					}
				</ul>
				<Button href={WHATSAPP_LINK}>Agenda tu cita</Button>
			</nav>
			<div class="text-center flex items-center flex-col max-w-[849px]">
				<h1 class="font-bold text-6xl mb-6">
					Rectificadora de culatas de motor de aluminio y acero
				</h1>
				<p class="mb-8 max-w-prose text-lg">
					Especialistas en motores: Rectificación de bloques y cigüeñales,
					torno, pruebas hidrostáticas y una gama completa de servicios para
					culatas, desde el montaje hasta el cepillado.
				</p>
				<Button href={WHATSAPP_LINK}>Agenda tu cita</Button>
			</div>
		</header>
		<main class="w-full flex flex-col items-center">
			<section
				class="flex items-start gap-x-6 py-20 justify-between w-full max-w-screen-lg"
			>
				<h2 class="font-semibold text-2xl leading-relaxed">
					Servicios de Calidad
				</h2>
				<p class="max-w-3xl text-4xl leading-relaxed">
					En {BUSINESS_INFO.name}, la calidad es nuestro sello. Desde la
					rectificación de bloques hasta la montura de culatas, nuestro enfoque
					es preciso y con nuestra avanzada tecnología garantizan motores
					impecables y duraderos.
				</p>
			</section>
		</main>
	</body>
</html>
