---
import { BUSINESS_INFO, LINKS } from "../utils.ts";
import NavLink from "../components/nav-link.astro";
import Button from "../components/button.astro";
import Logo from "../components/logo.astro";
import Avatar from "../components/avatar.astro";
import ServicesTab from "../components/services-tab.tsx";

import TiktokIcon from "../components/icons/tiktok.astro";
import FacebookIcon from "../components/icons/facebook.astro";
import InstagramIcon from "../components/icons/instagram.astro";
import WhatsappIcon from "../components/icons/whatsapp.astro";
import LocationIcon from "../components/icons/location.astro";
import PhoneIcon from "../components/icons/phone.astro";

import googleMapsImg from "../assets/maps.png";

import avatar1 from "../assets/avatar-1.avif";
import avatar2 from "../assets/avatar-2.avif";
import avatar3 from "../assets/avatar-3.avif";
import avatar4 from "../assets/avatar-4.avif";
import avatar5 from "../assets/avatar-5.avif";
import avatar6 from "../assets/avatar-6.avif";
import avatar7 from "../assets/avatar-7.avif";
import avatar8 from "../assets/avatar-8.avif";
import avatar9 from "../assets/avatar-9.avif";
import avatar10 from "../assets/avatar-10.avif";
import avatar11 from "../assets/avatar-11.avif";
import avatar12 from "../assets/avatar-12.avif";
import avatar13 from "../assets/avatar-13.avif";
import avatar14 from "../assets/avatar-14.avif";
import avatar15 from "../assets/avatar-15.avif";
import avatar16 from "../assets/avatar-16.avif";
import avatar17 from "../assets/avatar-17.avif";
import avatar18 from "../assets/avatar-18.avif";
import avatar19 from "../assets/avatar-19.avif";
import avatar20 from "../assets/avatar-20.avif";
import avatar21 from "../assets/avatar-21.avif";
import { Image } from "astro:assets";

const NAV_LINKS = [
	{ path: "", label: "Inicio" },
	{ path: "#services", label: "Servicios" },
	{ path: "#testimonials", label: "Testimonios" },
	{ path: "#contact-us", label: "Contáctanos" },
];

const TESTIMONIALS = [
	{
		testimony: "Quisiera expresar mi más sincero agradecimiento por el excelente trabajo realizado en mi motor. La rectificación de bloques y cigüeñales fue impecable, y el resultado final superó todas mis expectativas. No solo lograron devolverle la vida a mi motor, sino que también lo dejaron funcionando de manera más eficiente que nunca. Como ingeniero mecánico, he trabajado con diversos servicios de rectificación en el pasado, pero ninguno ha alcanzado el nivel de profesionalismo y calidad que encontré aquí. Recomiendo ampliamente este servicio a todos los entusiastas de los motores.",
		name: "Diego Ramírez",
		job: "Ingeniero Mecánico",
		avatar: avatar1,
	},
	{
		testimony: "El servicio de torno que recibí fue simplemente excepcional. Desde el primer contacto hasta la entrega final, todo fue manejado con un profesionalismo impecable. La precisión y calidad del trabajo realizado en mi motor son evidentes, y estoy extremadamente satisfecho con los resultados.",
		name: "Laura Fernández",
		job: "Dueña de Taller Mecánico",
		avatar: avatar2,
	},
	{
		testimony: "La atención al cliente que recibí durante las pruebas hidrostáticas fue excepcional. Desde el momento en que contacté con el equipo hasta la finalización del proceso, me sentí completamente respaldado y bien atendido.",
		name: "Daniel Gómez",
		job: "Conductor de Transporte de Carga",
		avatar: avatar3,
	},
	{
		testimony: "El trabajo de rectificación realizado en mi bloque fue más allá de mis expectativas. La atención al detalle y la precisión con la que se llevó a cabo el proceso son dignas de elogio.",
		name: "Carlos Rodríguez",
		job: "Mecánico Automotriz",
		avatar: avatar4,
	},
	{
		testimony: "Me quedé impresionado con la calidad del servicio de torno que recibí. Todo el proceso fue rápido y eficiente, y el resultado final superó mis expectativas. Definitivamente volveré a utilizar este servicio en el futuro.",
		name: "Sofía López",
		job: "Aficionada a la Mecánica",
		avatar: avatar5,
	},
	{
		testimony: "La atención al cliente que recibí durante las pruebas hidrostáticas fue excepcional. Desde el primer contacto hasta la entrega final, todo fue manejado con un profesionalismo impecable.",
		name: "Luis González",
		job: "Piloto de Carreras",
		avatar: avatar6,
	},
	{
		testimony: "El equipo demostró un gran profesionalismo en las pruebas hidrostáticas. ¡Increíble trabajo!",
		name: "Jorge Rodríguez",
		job: "Ingeniero Naval",
		avatar: avatar7,
	},
	{
		testimony: "El servicio de rectificación de bloques y cigüeñales fue excepcional. El motor de mi vehículo ahora funciona mejor que nunca. ¡Gracias!",
		name: "María Torres",
		job: "Dueña de Auto Lavado",
		avatar: avatar8,
	},
	{
		testimony: "Estoy muy contento con el servicio de montaje hasta el cepillado. El equipo fue muy profesional y el resultado final fue excelente. ¡Lo recomiendo ampliamente!",
		name: "Roberto Pérez",
		job: "Entusiasta de los Motores",
		avatar: avatar9,
	},
	{
		testimony: "Excelente servicio. Mi motor quedó como nuevo después de la rectificación. ¡Gracias por su profesionalismo!",
		name: "Ana Martínez",
		job: "Mecánica de Autos",
		avatar: avatar10,
	},
	{
		testimony: "",
		name: "Santiago Gómez",
		job: "",
		avatar: avatar11,
	},
	{
		testimony: "",
		name: "Juan David Pérez",
		job: "",
		avatar: avatar12,
	},
	{
		testimony: "",
		name: "Valentina Rodríguez",
		job: "",
		avatar: avatar13,
	},
	{
		testimony: "",
		name: "Mariana Torres",
		job: "",
		avatar: avatar14,
	},
	{
		testimony: "",
		name: "Natalia Ramírez",
		job: "",
		avatar: avatar15,
	},
	{
		testimony: "",
		name: "Camilo Martínez",
		job: "",
		avatar: avatar16,
	},
	{
		testimony: "",
		name: "Laura Morales",
		job: "",
		avatar: avatar17,
	},
	{
		testimony: "",
		name: "Andrés Herrera",
		job: "",
		avatar: avatar18,
	},
	{
		testimony: "",
		name: "Mateo Vargas",
		job: "",
		avatar: avatar19,
	},
	{
		testimony: "",
		name: "Daniel Castillo",
		job: "",
		avatar: avatar20,
	},
	{
		testimony: "",
		name: "Sofía Ríos",
		job: "",
		avatar: avatar21,
	},
];

const CONTACT_INFO = [
	{
		label: "WhatsApp",
		title: BUSINESS_INFO.phone.formatted,
		icon: WhatsappIcon,
		url: LINKS.whatsapp,
	},
	{
		label: "Dirección",
		title: BUSINESS_INFO.address.formatted,
		icon: LocationIcon,
		url: LINKS.googleMaps,
	},
	{
		label: "Teléfono",
		title: BUSINESS_INFO.phone.formatted,
		icon: PhoneIcon,
		url: `tel:${BUSINESS_INFO.phone.raw}`,
	},
];

const SOCIAL_MEDIA = [
	{
		icon: WhatsappIcon,
		name: "WhatsApp",
		url: LINKS.whatsapp,
	},
	{
		icon: FacebookIcon,
		name: "Facebook",
		url: LINKS.facebook,
	},
	{
		icon: TiktokIcon,
		name: "TikTok",
		url: LINKS.tiktok,
	},
	{
		icon: InstagramIcon,
		name: "Instagram",
		url: LINKS.instagram,
	},
];

const METADATA_INFO = {
	title: `${BUSINESS_INFO.name} — Inicio`,
	description:
		"Expertos en motores: soluciones precisas para bloques, cigüeñales y más. Confía en nuestro equipo para un mantenimiento confiable.",
	url: Astro.site,
	image: new URL("/meta-cover.png", Astro.url),
};
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<title>{METADATA_INFO.title}</title>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-touch-icon.png"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-touch-icon-white.png"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32.png"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32-white.png"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16.png"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16-white.png"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="mask-icon"
			href="/icons/safari-pinned-tab.svg"
			color="#0c0a09"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="mask-icon"
			href="/icons/safari-pinned-tab-white.svg"
			color="#0c0a09"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="shortcut icon"
			href="/icons/favicon.ico"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="shortcut icon"
			href="/icons/favicon-white.ico"
			media="(prefers-color-scheme: dark)"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#0c0a09" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<meta name="title" content={METADATA_INFO.title} />
		<meta name="description" content={METADATA_INFO.description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={METADATA_INFO.url} />
		<meta property="og:title" content={METADATA_INFO.title} />
		<meta
			property="og:description"
			content={METADATA_INFO.description}
		/>
		<meta
			property="og:image"
			itemprop="image"
			content={METADATA_INFO.image}
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={METADATA_INFO.url} />
		<meta property="twitter:title" content={METADATA_INFO.title} />
		<meta
			property="twitter:description"
			content={METADATA_INFO.description}
		/>
		<meta property="twitter:image" content={METADATA_INFO.image} />
	</head>

	<body
		class="bg-stone-950 text-stone-100 p-2 min-[320px]:p-3 lg:p-8 min-h-screen flex flex-col w-full items-center"
	>
		<header
			class="px-4 lg:px-10 flex flex-col gap-y-10 items-center w-full bg-header-motor rounded-xl min-h-[800px] bg-no-repeat bg-cover"
		>
			<nav
				class="flex items-center justify-between py-10 w-full relative"
			>
				<a href="#" class="mr-10">
					<Logo />
				</a>
				<button
					class="xl:hidden"
					data-hamburger
					aria-expanded="false"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
						></path>
					</svg>
				</button>
				<div
					class="absolute xl:static flex flex-col top-full inset-x-0 lg:flex-row xl:w-[74%] 2xl:w-[67%] lg:gap-x-3 xl:justify-between opacity-0 pointer-events-none xl:opacity-100 xl:pointer-events-auto bg-stone-100 py-8 xl:py-0 gap-y-10 items-center xl:bg-transparent"
					data-nav-links
				>
					<ul
						class="flex flex-col xl:flex-row items-center gap-x-2 rounded-lg xl:rounded-full text-stone-950 xl:text-stone-100 xl:bg-stone-100/10 p-2"
					>
						{
							NAV_LINKS.map(
								({
									label,
									path,
								}) => {
									const isActive =
										Astro
											.url
											.hash ===
										path;

									return (
										<li>
											<NavLink
												href={
													path
												}
												isActive={
													isActive
												}
											>
												{
													label
												}
											</NavLink>
										</li>
									);
								},
							)
						}
					</ul>
					<Button
						href={LINKS.whatsapp}
						className="hidden xl:flex"
						>Agenda tu cita</Button
					>
					<Button
						href={LINKS.whatsapp}
						className="xl:hidden w-fit"
						style="secondary"
						>Agenda tu cita</Button
					>
				</div>
			</nav>
			<div
				class="text-center flex items-center flex-col max-w-[849px]"
			>
				<h1 class="font-bold text-3xl lg:text-6xl mb-6">
					Rectificadora de culatas de motor de
					aluminio y acero
				</h1>
				<p class="mb-8 max-w-prose lg:text-lg">
					Especialistas en motores: Rectificación
					de bloques y cigüeñales, torno, pruebas
					hidrostáticas y una gama completa de
					servicios para culatas, desde el montaje
					hasta el cepillado.
				</p>
				<Button href={LINKS.whatsapp}
					>Agenda tu cita</Button
				>
			</div>
		</header>
		<main class="w-full flex flex-col items-center gap-y-10">
			<section
				class="px-6 py-8 lg:py-16 lg:px-14 rounded-3xl bg-stone-100 text-stone-950 w-full flex flex-col gap-y-16 mt-16"
				id="services"
			>
				<header
					class="grid grid-cols-1 xl:grid-cols-2 grid-rows-2 gap-y-16"
				>
					<h2
						class="font-semibold text-2xl col-start-1 col-end-3 lg:col-end-2"
					>
						Salva la culata que dabas por
						perdida al no poder cepillarla
						más de lo permitido y tener
						torcedura por calentamiento
						Cualquier culata torcida la
						dejamos en cero para
						empaque original
					</h2>
					<p
						class="lg:max-w-prose text-2xl col-start-2 row-start-2 justify-self-end"
					>
						Contáctanos y dale de nuevo una
						vida útil a tu culata
					</p>
				</header>
				<ServicesTab client:visible />
			</section>
			<section
				class="flex items-center justify-center flex-wrap gap-10 w-full mt-10"
				id="contact-us"
			>
				<Image
					src={googleMapsImg}
					class="w-full max-w-xl flex"
					alt="A gooogle maps view with the pin on the business direction"
				/>
				<div class="flex flex-col gap-y-10">
					<div class="flex flex-col gap-y-3">
						<h2
							class="font-semibold text-3xl lg:text-5xl"
						>
							Contáctanos
						</h2>
						<p>
							Agenda tu cita y conoce
							por qué nuestro servicio
							es el mejor.
						</p>
					</div>
					<ul class="flex flex-col gap-y-4">
						{
							CONTACT_INFO.map(
								({
									icon: Icon,
									label,
									title,
									url,
								}) => (
									<li>
										<Button
											className="!text-wrap w-full"
											href={
												url
											}
											position="start"
											style="tertiary"
										>
											<div class="">
												<Icon />
											</div>
											<div class="">
												<h4 class="text-stone-300">
													{
														label
													}
												</h4>
												<p class="lg:text-xl font-semibold">
													{
														title
													}
												</p>
											</div>
										</Button>
									</li>
								),
							)
						}
					</ul>
				</div>
			</section>
			<section
				class="w-full flex flex-col items-center pt-10"
				id="testimonials"
			>
				<h2
					class="text-5xl font-semibold mb-16 text-center"
				>
					Qué dicen nuestros clientes
				</h2>
				<ul
					class="flex items-center gap-x-5 gap-y-3 mb-24 justify-center w-full max-w-3xl flex-wrap"
				>
					{
						TESTIMONIALS.map(
							({ avatar, name }) => (
								<li>
									<Avatar
										avatar={
											avatar
										}
										name={
											name
										}
									/>
								</li>
							),
						)
					}
				</ul>
				<ul
					id="masonry-container"
					class="flex flex-col lg:flex-row gap-4 max-w-4xl"
				>
				</ul>
			</section>
			<section
				class="px-4 mt-5 mb-20 lg:my-20 py-10 lg:py-16 text-center flex flex-col items-center bg-stone-100 text-stone-950 rounded-xl w-full"
			>
				<h2
					class="font-semibold text-2xl lg:text-5xl mb-4"
				>
					Toma acción: Programa una cita ahora
				</h2>
				<p class="mb-6">
					¡Nuestros expertos en motores están aquí
					para ayudarte! Agenda ahora y deja que
					nos ocupemos de tu motor.
				</p>
				<Button style="secondary" href={LINKS.whatsapp}
					>Agenda tu cita</Button
				>
			</section>
		</main>
		<footer
			class="rounded-xl
					w-full
					flex
					items-center
					justify-between
					flex-col gap-y-20"
		>
			<div
				class="flex items-center justify-between w-full flex-wrap gap-y-8"
			>
				<div
					class="max-w-80 flex flex-col gap-y-4 items-start"
				>
					<Logo />
					<p class="text-stone-300">
						Expertos en mantener tu motor en
						perfecto estado de
						funcionamiento.
					</p>
				</div>
				<ul class="flex gap-x-4">
					{
						SOCIAL_MEDIA.map(
							({
								icon: Icon,
								url,
							}) => (
								<li>
									<Button
										href={
											url
										}
										position="start"
										size="icon"
										style="tertiary"
									>
										<Icon
											size={
												24
											}
										/>
									</Button>
								</li>
							),
						)
					}
				</ul>
			</div>

			<ul
				class="flex items-center gap-6 flex-col lg:flex-row"
			>
				{
					NAV_LINKS.map(({ label, path }) => {
						const isActive =
							Astro.url.hash === path;
						return (
							<li>
								<a
									href={
										path
									}
									class:list={[
										isActive
											? "font-semibold"
											: "font-normal",
									]}
								>
									{label}
								</a>
							</li>
						);
					})
				}
			</ul>
		</footer>
	</body>
</html>
<script
	is:inline
	define:vars={{
		allTestimonials: TESTIMONIALS,
	}}
>
	const testimonials = allTestimonials.slice(0, 10); // 10 -> max testimonials
	const $masonryContainer = document.getElementById("masonry-container");
	const masonryColumns = 2;
	const insertMasonryItem = ({
		testimony,
		avatar,
		name,
		job,
	}) => `<p class="mb-6 max-w-4xl">"${testimony}"</p>
<div class="flex row-reverse items-center justify-end w-full gap-x-4">					
<img src=${avatar.src} alt="Profile pic from ${name}" class="w-10 aspect-square rounded-full object-cover" />
<div class="flex flex-col">
<span class="text-stone-300">${name}</span>
<span>${job}</span>
</div>
</div>`;
	const masonryColumnsItems = {};

	for (let i = 0; i < masonryColumns; i++) {
		masonryColumnsItems[`col${i}`] = document.createElement("div");
		masonryColumnsItems[`col${i}`].classList.add(
			"flex",
			"flex-col",
			"gap-y-4",
		);
	}

	for (let i = 0; i < masonryColumns; i++) {
		const currentTestimony = testimonials[i];
		if (!currentTestimony || !testimonials.length) break;

		const $li = document.createElement("li");
		$li.classList.add(
			"flex",
			"flex-col",
			"items-center",
			"p-6",
			"shadow",
			"shadow-600",
			"bg-stone-800",
			"max-w-3xl",
			"rounded",
			"h-fit",
		);
		$li.insertAdjacentHTML(
			"beforeend",
			insertMasonryItem(currentTestimony),
		);
		masonryColumnsItems[`col${i}`].appendChild($li);

		if (i === masonryColumns - 1) {
			testimonials.splice(0, masonryColumns);
			i = -1;
		}
	}
	Object.values(masonryColumnsItems).forEach((col) => {
		$masonryContainer.appendChild(col);
	});

	const $hamburgerButton = document.querySelector("[data-hamburger]");
	const $navLinks = document.querySelector("[data-nav-links]");

	$hamburgerButton?.addEventListener("click", () => {
		if (
			$hamburgerButton?.getAttribute("aria-expanded") ===
			"true"
		) {
			$navLinks?.classList.remove(
				"opacity-100",
				"pointer-events-auto",
			);
			$navLinks?.classList.add(
				"opacity-0",
				"pointer-events-none",
			);
			$hamburgerButton.setAttribute("aria-expanded", "false");
		} else {
			$navLinks?.classList.remove(
				"opacity-0",
				"pointer-events-none",
			);
			$navLinks?.classList.add(
				"opacity-100",
				"pointer-events-auto",
			);
			$hamburgerButton.setAttribute("aria-expanded", "true");
		}
	});
</script>
